@model IEnumerable<string>

<ul class="nav nav-list">
    <li class="nav-header">@Html.ActionLink("Home", "List", "Admin")</li>
    
    @foreach (var link in Model)
    {
        <li class="@(link == ViewBag.SelectedCategory ? "active" : null)">
            @Html.RouteLink(link, new
                                      {
                                          controller = "Admin",
                                          action = "List",
                                          category = link
                                      })
        </li>
    }

</ul>

